/tools
/texstudio-cwls
/abntcite
/acro
/acronym
/afterpage
/algorithm2e
/allrunes
/amsbsy
/amsfonts
/amsmath
/amsopn
/amssymb
/amsthm
/appendix
/array
/attachfile
/babel
/beamerfoils
/beamerprosper
/beamerseminar
/beamertexpower
/beamerthemeFhG
/biblatex
/bm
/booktabs
/braket
/calc
/cancel
/caption
/cases
/chemformula
/chemstyle
/circuitikz
/class-beamer
/class-book
/class-letter
/class-memoir
/class-moderncv
/class-scrartcl
/class-scrartcl,scrreprt,scrbook
/class-scrbook
/class-scrlttr2
/class-scrreprt
/cleveref
/color
/colortbl
/commath
/comment
/coordsys
/cquthesis
/csquotes
/currvita
/cyrillic
/datatool
/datatool-base
/default
/diagxy
/doi
/empheq
/enumerate
/epigraph
/epstopdf
/etoolbox
/eurosym
/fancybox
/fancyhdr
/fancyunits-base
/fancyunits-np
/fancyunits-per
/fancyunits_big-fractions
/fancyunits_medium-fractions
/fancyunits_small-fractions
/fancyvrb
/fhgtechdoku_additional
/fixme
/float
/fontspec
/geometry
/german
/glossaries
/glosstex
/graphicx
/harvard
/hyperref
/ifluatex
/ifpdf
/iftex
/ifthen
/ifvtex
/ifxetex
/import
/jurabib
/kantlipsum
/latex-209
/latex-dev
/latex-document
/latex-l2tabu
/latex-mathsymbols
/layout
/letltxmacro
/libertine
/lipsum
/listings
/logsys
/longtable
/lscape
/ltxtable
/luatex
/luatodonotes
/manyfoot
/marvosym
/mathtools
/mdframed
/mdwlist
/memhfixc
/menukeys
/metrix
/mhchem
/microtype
/minted
/multicol
/multido
/multimedia
/multirow
/nameref
/natbib
/needspace
/newclude
/ngerman
/nicefrac
/nomencl
/paracol
/parskip
/pdfpages
/pgf
/pgfcore
/pgfplots
/physics
/pifont
/placeins
/psfrag
/pst-3d
/pst-blur
/pst-char
/pst-coil
/pst-eps
/pst-fill
/pst-node
/pst-plot
/pst-text
/pst-tree
/pstricks
/rotating
/scraddr
/scrdate
/scrlfile
/scrpage2
/scrtime
/secsty
/setspace
/siunitx
/siunitx-special
/subcaption
/subfig
/subfigure
/subfiles
/supertabular
/svn-multi
/svninfo
/tabu
/tabularx
/tabulary
/tex
/textcomp
/theorem
/tikz
/tikz-cd
/tikz-timing
/titlesec
/tocbibind
/tocloft
/todonotes
/tools
/ulem
/units
/upgreek
/url
/varioref
/verse
/vimtex_my_complete
/virginialake
/wasysym
/xcolor
/xetex
/xifthen
/xkeyval
/xltxtra
/xparse
/xspace
/xtab
/xy
/yathesis
/yfonts
